PORT=3000
JWT_SECRET=finanflex_jwt_secret_key_2026
ADMIN_EMAIL=admin@finanflex.com.br
ADMIN_PASSWORD=FinanFlex@2026
CPF_API_URL=http://147.93.67.151:9502/document
PIX_QRCODE_KEY=suachavepix@email.com
PIX_QRCODE_MERCHANT=FinanFlex
PIX_QRCODE_CITY=Sao Paulo
TAXA_SOLICITACAO=29.90
